@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wrapper {
    @apply w-[100vw] h-[100vh] flex justify-center items-center;
  }
  .max-width {
    @apply max-w-screen-xl;
  }

  .logo {
    @apply w-40;
  }

  nav div > * {
    @apply cursor-pointer hover:scale-[120%] transition-all ease-linear duration-700;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
